# Competición Inmobiliaria

En la carpeta data tienes un csv llamado train con datos de una inmobiliaria India. En su día, vimos algunos de estos datos, sin embargo, lo que vamos a hacer ahora es simular una competición de Kaggle, donde tendremos que predecir el valor el LACS (``TARGET(PRICE_IN_LACS)``).

La idea es que os pongáis a trabajar en este modelo, con esos datos de entrada, haciendo todo lo que se os ocurra (creándote variables nuevas, usando GridSearchCV, ensembles de modelos...), guardando el modelo final con pickle, como hemos visto en notebooks anteriores.

Finalmente, os pediré que me paséis el modelo para comprobar los resultados con unos datos que vosotros no tenéis, o quizás os pase los datos para que veamos el scoring de cada modelo con unos datos que no ha visto nunca. Esto no puntúa más o menos, ni es una actividad extra, sino que es algo para hacer durante la clase y que practiquemos cómo desarrollar modelos:

In [3]:
import pandas as pd
df = pd.read_csv("../01_Supervisado/9-Ensemble/data/train.csv")
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8